@page "/equipment"
@using WorkshopAdmin.Shared.Dtos
@using WorkshopAdmin.Shared.Dtos.Equipments
@using WorkshopAdmin.UI.Components.Equipment
@using WorkshopAdmin.UI.Components.Clients
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="py-5">

    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <MudText Typo="Typo.h4" Class="fw-bold" Style="color: #000666;">
                Equipment Management
            </MudText>

            <MudText Typo="Typo.body2" Class="text-secondary">
                Registry of industrial machinery, specialized tools, and workshop assets.
            </MudText>
        </div>

        <!-- BUTTON GROUP -->
        <div class="d-flex gap-3">

            <MudButton Variant="Variant.Outlined"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Description"
                       Class="py-2 px-3 fw-bold"
                       Style="text-transform: none; border-radius: 4px; border-color: #dee2e6; color: #000666;">
                Create Report
            </MudButton>

            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       OnClick="OpenCreateEquipmentDialog"
                       StartIcon="@Icons.Material.Filled.Add"
                       Class="py-2 px-3 fw-bold shadow-none"
                       Style="text-transform: none; border-radius: 4px;">
                Add New Equipment
            </MudButton>

        </div>
    </div>

    <MudGrid>
        <MudItem xs="12">

            <EquipmentFilters />

            <!-- TABLE -->
            <MudPaper Elevation="0"
                      Class="border rounded-4 overflow-hidden">

                <EquipmentTable />

            </MudPaper>

        </MudItem>
    </MudGrid>

</MudContainer>
@code {
    private async Task OpenCreateEquipmentDialog()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            CloseButton = true
        };

        var dialog = await DialogService.ShowAsync<CreateEquipmentDialog>(" ", options);
        var result = await dialog.Result;

        if (!result.Canceled && result.Data is CreateEquipmentRequest newEquipment)
        {
            try
            {
                // Aquí es donde conectas con tu servicio de aplicación
                // await CustomerService.CreateAsync(newEquipment);
                
                Snackbar.Add($"Equipment {newEquipment.DescriptionType} added to the system.", Severity.Success);
                
                // Opcional: Recargar la lista de la tabla
                // await LoadClients();
            }
            catch (Exception ex)
            {
                Snackbar.Add("Error saving part: " + ex.Message, Severity.Error);
            }
        }
    }
}