@page "/clients"

<PageTitle>Clients - WorkshopAdmin</PageTitle>

<MudText Typo="Typo.h2" Class="mb-1">Client Management</MudText>
<MudText Typo="Typo.body1" Class="mud-text-secondary mb-6">Manage technical records and service history.</MudText>

@* <ClientStats />

<div class="my-6">
    <ClientFilters />
</div>

<ClientTable /> *@